
  <footer id="footer">
    <a href="https://www.twitter.com"><i class="fa-brands fa-twitter footer-icon"></i></a>
    <a href="https://www.instagram.com"><i class="fa-brands fa-instagram footer-icon"></i></a>
    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f footer-icon"></i></a>
    <!-- <form class="" action="mailto:vishvd9890@gmail.com" method="post" enctype="text/plain"></form> -->
    <a href="mailto:vishvd9890@gmail.com"><i class="fa-solid fa-envelope footer-icon"></i></a>
    <p>© Copyright LIBRARY</p>

  </footer>


</body>

</html>
