<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand text-title" href="/home">The LNM Library</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbar-content">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#search-section"><i class="fa-solid fa-magnifying-glass"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store">Browse store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">My bookshelf</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

    </ul>
  </div>

</nav>
