<%-include("partials/header.ejs");-%>

<div class="jumbotron  bookshelf-bg-img centered">
  <div class="container">
    <h1 class="display-3">LNM LIBRARY</h1>
    <p class="lead">Just Read!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/signup" role="button">Signup</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-dark btn-lg" href="/admin-login" role="button">Login as a Admin</a>

  </div>
</div>


</body>

</html>
